#page-teacher-list {
    width: 100vw;
    height: 100vh;
}
#search-teacher {
    margin-top: 3.2rem;
}
#search-teacher label {
    color: var(--color-text-in-primary);
}
#search-teacher button {
    width: 100%;
    margin-top: 3.2rem;
    background-color: var(--color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.7rem;
    color: var(--color-button-text);
    border: 0;
    padding: 0 1.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background 0.3s;
}
#search-teacher button:hover {
    background-color: var(--color-secundary-dark);
}

@media (min-width: 700px){
    #page-teacher-list{
        max-width: 100%;
    }
    #search-teacher{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -20px;
    }
    #search-teacher button {
        height: 4rem;
    }
    #search-teacher .input-block + .input-block {
        margin-top: 0;
    }
    #page-teacher-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
    
}